[submodule "RetargetingCL/l10n_cl_hr"]
	path = RetargetingCL/l10n_cl_hr
	url = git@github.com:RetargetingCL/l10n_cl_hr.git
	branch = vc_master

[submodule "RetargetingCL/l10n_cl_hr_payroll_account"]
	path = RetargetingCL/l10n_cl_hr_payroll_account
	url = git@github.com:RetargetingCL/l10n_cl_hr_payroll_account.git
	branch = vc_master

[submodule "RetargetingCL/payroll_analytic_account"]
	path = RetargetingCL/payroll_analytic_account
	url = git@github.com:RetargetingCL/payroll_analytic_account.git
	branch = vc_master

[submodule "RetargetingCL/hr_payroll_cancel"]
	path = RetargetingCL/hr_payroll_cancel
	url = git@github.com:RetargetingCL/hr_payroll_cancel.git
	branch = vc_master

[submodule "RetargetingCL/l10n_cl_hr_employee_extended"]
	path = RetargetingCL/l10n_cl_hr_employee_extended
	url = git@github.com:RetargetingCL/l10n_cl_hr_employee_extended.git
	branch = vc_master
